<% provide(:title, "Autenticar") %>
<h1>Autenticar</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>¿Recordar usuario?</span>
      <% end %>
      
      <%= f.submit "Autenticar", class: "btn btn-primary" %>
    <% end %>

    <p>¿Nuevo por aquí? <%= link_to "¡Registrate ahora!", signup_path %></p>
  </div>
</div>